<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    testdox="true"
>
    <testsuites>
        <testsuite name="User Tests">
            <file>tests/UserTest.php</file>
        </testsuite>
        <testsuite name="Calculator Tests">
            <directory>tests/Calculator/</directory>
        </testsuite>
    </testsuites>
</phpunit>